[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
versioneer = "*"
pytest = "*"
appdirs = "*"
scp = "*"
paramiko = "*"
requests = "*"
requests-cache = "*"

[requires]
python_version = "3.7"
